{% extends 'base.html' %}
{% block content %}

<h1>place details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ place.name }}</span>
        <p>Open Hours: {{ place.open_hours }}</p>
      </div>
      <div class="card-action" id="card-action-override">
        <a href="{% url 'places_update' place.id %}">Edit <i class="material-icons">edit</i></a>
        <a href="{% url 'places_delete' place.id %}">Delete<i class="material-icons">delete</i></a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
    <div class="col s6">
      <h3>{{ place.name }}'s 0% products</h3>
      {% if place.products.count %}
        {% for product in place.products.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ product.name }}, {{ product.get_type_display }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'disassoc_product' place.id product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">remove <i class="material-icons">remove_circle</i></button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>no 0% products listed here yet</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>add 0% products to this location</h3>
      {% if products.count %}
        {% for product in products.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ product.name }}, {{ product.get_type_display }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_product' place.id product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">add <i class="material-icons">add_circle</i></button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{place.name}} already has all available products</h5>
      {% endif %}
    </div>

{% endblock %}