{% extends 'base.html' %}
{% block content %}

<div class="details-header">
    <h1>places</h1>
    <h3>
        <a href="{% url 'places_create' %}"><i class="material-icons translate-12">add_circle_outline</i> add a place</a>
    </h3>
</div>

{% for place in place_list %}
  <a href="{% url 'places_detail' place.id %}">
    <div class="card">
        <div class="card-content product-card">
            <span class="card-title">{{ place.name }}</span>
            <p>Open Hours: {{ place.open_hours }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}