{% extends 'base.html' %}

{% block content %}
{% if object %}
<h2>edit recipe</h3>
  {% else %}
  <h2>add a recipe</h2>
  {% endif %}

  <form class="two-col" action="" method="POST">
    {% csrf_token %}

    <div class="form-col">
      <div>
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
  
      <div>
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
  
      <div>
        {{ form.new_category.label_tag }}
        {{ form.new_category }}
      </div>

      <div>
        {{ form.difficulty.label_tag }}
        {{ form.difficulty }}
      </div>

      <div>
        {{ form.prep.label_tag }}
        {{ form.prep }}
      </div>

      <div>
        {{ form.photo.label_tag }}
        {{ form.photo }}
      </div>
    </div>

    <div class="form-col">
      <div>
        {{ form.ingredients.label_tag }}
        {{ form.ingredients }}
      </div>

      <div>
        {{ form.instructions.label_tag }}
        {{ form.instructions }}
      </div>
      
      <br>
      <div class="right-btn">
        <input type="submit" value="submit!" class="btn">
      </div>
    </div>
    
  </form>

  <script>
    const difficulty = document.getElementById('id_difficulty');
    M.FormSelect.init(difficulty);

    const category = document.getElementById('id_category');
    M.FormSelect.init(category);

  </script>

  {% endblock %}