{% extends 'base.html' %}
{% block content %}

{% load custom_filters %}

<div class="details-header">
  <h1>drink recipes</h1>
  <h3>
    <a href="{% url 'recipes_create' %}"><i class="material-icons  translate-12">add_circle_outline</i> add a recipe</a>
  </h3>
</div>

{% for recipe in recipes %}
  <div class="card">
    <a href="{% url 'detail' recipe.id %}">
      <div class="card-content">
          <div class="card-img">
            {% if recipe.uploaded_img %}
              <img src="{{ recipe.uploaded_img }}" alt="">
            {% elif recipe.img %}
              <img src="{{ recipe.img }}" alt="">
            {% else %}
              <div style="text-align: center;">
                <br>
                No photo uploaded
                <br>
                <i class="material-icons large">image</i>
              </div>
            {% endif %}
          </div>
          <div class="card-text">
              <span class="card-title">{{ recipe.name }}</span>
              <p><span class="bold">Category:</span> {{ recipe.category }}</p>
              <p><span class="bold">Difficulty:</span> {{ recipe.get_difficulty_display }}</p>
              <p><span class="bold">Prep Time:</span> {{ recipe.prep|convert_to_hours_minutes }}</p>
              <p><span class="bold">Average Rating:</span> 
                {% if recipe.average_rating != '(no ratings)' %}
                  {% for _ in recipe.stars_filled %}
                    <i class="material-icons translate-30">star</i>
                  {% endfor %}
                  {% for _ in recipe.stars_empty %}
                    <i class="material-icons translate-30">star_border</i>
                  {% endfor %}
                {% else %}
                  {{ recipe.average_rating }}
                {% endif %}
              </p>
            </div>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}