:root {
    --lightpink: #ecccb8;
    --pink: #e3a696;
    --gold: #ebc27c;
    --olive: #777a47;
    --dusk: #747291;
    --blackish: #4c4a25;
    --whiteish: #fffbf5;
    --greyish: #BEB7B4;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: var(--olive);
}

nav {
    color: var(--whiteish);
    background-image: linear-gradient(to bottom right, var(--lightpink), var(--pink));
}
  
main {
    flex: 1 0 auto;
}

footer.page-footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    background-image: linear-gradient(to top left, var(--lightpink), var(--pink));
}

footer a {
    color: var(--whiteish);
}

footer a:hover {
    color: var(--blackish);
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1, 
h2, 
h3,
h4,
h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--dusk);
}

h1 {
    font-weight: 400;
}

h3 {
    font-weight: 100;
    font-size: 30px;
}

.navbar-fixed {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#logo-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: 400;
}

#logo-img {
    height: 90%;
    display: block;
}

.right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.right li a {
    font-size: 20px;
}

.card {
    background-color: var(--whiteish);
}

.card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    color: var(--blackish);
}

.card-content > div#place-card-content {
    flex-direction: column;
}
  
.card-img {
    flex: 1;
    /* padding: 10px; */
    /* box-shadow: -2px 2px 8px 2px #d1d1d1; */
}

.card-img img {
    width: 100%;
    box-shadow: -2px 2px 8px 4px #d1d1d1;
    border: 10px solid var(--whiteish);
}

.card-title {
    transition: all 0.25s ease;
}

.card-title:hover {
    color: var(--gold);
}

.card-text {
    flex: 3;
}

.btn {
    background-image: linear-gradient(to bottom right, var(--gold), #c2a066);
}

.reviews-container {
    padding: 1px 20px 20px;
}

#card-action-override a {
    color: var(--gold);
}

#card-action-override a:hover {
    color: var(--dusk);
}

#ingredient-list {
    margin: 0 20px 0;
}

#ingredient-list > li {
    list-style-type: disc;
}

.details-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.details-header > h3 > a:hover {
    color: var(--dusk);
}

#back-link {
    color: var(--dusk);
}

#back-link:hover {
    color: var(--olive);
}

.translate-12 {
    transform: translate(0, 10%);
}

.translate-30 {
    transform: translate(0, 30%);
}

.bold {
    font-weight: 600;
}

.product-card {
    align-items: center;
}

.instructions p {
    margin-bottom: 10px;
}

#welcome-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(116, 114, 145, 0.5), rgba(92, 91, 116, 0.7));
    color: var(--whiteish);
    margin-top: 20px;
    border-radius: 10px;
    align-content: center;
    justify-content: flex-start;
    padding: 0 50px 0 0;
}

#welcome-text-container {
    align-self: center;
}

.welcome-header {
    color: var(--whiteish);
    margin: 0;
    text-align: right;
}

h1.welcome-header {
    font-size: 5vw;
}

h3.welcome-header {
    font-size: 2.5vw;
}

#welcome-text-container p {
    text-align: justify;
}

#learn-more-container {
    display: flex;
    justify-content: flex-end;
}

#welcome-logo {
    height: 60vh;
}

#promos-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.promo {
    width: 100%;
    margin-top: 0;
}

.promo:nth-child(1), 
.promo:nth-child(2) {
    margin-right: 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.25s ease;
}

.call-to-action:hover {
    color: var(--dusk);
}

#learn-more {
    border-radius: 10px;
    padding: 15px;
    height: auto;
    width: 33%;
    font-size: 15px;
    background-image: linear-gradient(to bottom right, var(--lightpink), var(--pink));
    transition: all 0.25s ease;
}

#learn-more:hover {
    color: var(--dusk);
}

.font-20 {
    font-size: 20px;
}

#reviews-plus-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

#review-form {
    flex: 25%;
}

#reviews {
    flex: 75%;
}

#id_review,
#id_ingredients {
    height: 100px;
}

#id_instructions {
    height: 200px;
}

.two-col {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.form-col {
    flex: 1;
}

.right-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}