{% extends 'base.html' %}
{% block content %}

<h1>about zero percent</h1>

<p>Welcome to zero percent - your ultimate hub for all things alcohol-free!</p>

<p>In a world where health and wellness are on the rise, we're here to celebrate minimizing alcohol consumption, and all the benefits a zero percent life brings. Zero percent is about savoring the pleasures of socializing, indulging in delicious drinks, and exploring exciting experiences, alcohol-free. Explore and rate recipes, discover new non-alcoholic products, and find exciting zero-percent bars and activities.</p>

<p>Come join our community and share your journey to a healthier, happier life with less alcohol. Cheers to a wonderful world of flavorful, alcohol-free options!</p>

{% endblock %}