{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>zero percent - alcohol-free drinks, fun & lifestyle</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<video playsinline autoplay muted loop>
  <source
    src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTdncmQycThhZGYxNWhzODB5bm51dnRmMjB4N25janl4Zmdyb2U2OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6kkdoLdjDKUaC6JEKu/giphy.mp4"
    type="video/mp4">
</video>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div id="logo-area">
          <a href="{% url 'home' %}"><img id="logo-img" src="{% static 'img/logo.png' %}" alt=""></a>
          <a href="{% url 'home' %}">zero percent</a>
        </div>
        <ul class="right">
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'drinks_create' %}">add a drink</a></li>
          <li><a href="{% url 'index' %}">all drinks</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div>a <a href="http://johnhansen.io" target="_blank">john hansen</a> creation &copy; {% now "Y" %}</div>
  </footer>
</body>

</html>