{% extends 'base.html' %}
{% block content %}

{% load static %}

<section id="welcome-container">
    <div id="welcome-logo-container">
        <img id="welcome-logo" src="{% static 'img/logo.png' %}" alt="">
    </div>
    <div id="welcome-text-container">
        <h3 class="welcome-header">welcome to &nbsp;&nbsp;&nbsp;&nbsp;</h3>
        <h1 class="welcome-header">zero percent</h1>
        <p>Welcome to zero percent - your ultimate hub for all things alcohol-free! Explore and rate recipes, discover new non-alcoholic products, and find exciting zero-percent bars and activities.</p>
        <div id="learn-more-container">
            <a href="/about" class="btn" id="learn-more">learn more</a>
        </div>
    </div>
</section>

<section id="promos-container">
    <div class="promo">
        <a href="/recipes" class="btn call-to-action">explore recipes&nbsp;&nbsp;<i class="material-icons">local_bar</i></a>
    </div>
    <div class="promo">
        <a href="/products" class="btn call-to-action">explore products&nbsp;&nbsp;<i class="material-icons">shopping_cart</i></a>
    </div>
    <div class="promo">
        <a href="/places" class="btn call-to-action">explore places&nbsp;&nbsp;<i class="material-icons">add_location</i></a>
    </div>
</section>

{% endblock %}