{% extends 'base.html' %}
{% block content %}

{% load custom_filters %}

<h1>drink list</h1>

{% for drink in drinks %}
  <div class="card">
    <a href="{% url 'detail' drink.id %}">
      <div class="card-content">
          <div class="card-img">
              <img src="{{ drink.img }}" alt="">
          </div>
          <div class="card-text">
              <span class="card-title">{{ drink.name }}</span>
              <p>Category: {{ drink.category }}</p>
              <p>Difficulty: {{ drink.get_difficulty_display }}</p>
              <p>Prep Time: {{ drink.prep|convert_to_hours_minutes }}</p>
              <p>Average Rating: {{ drink.average_rating }}</p>
            </div>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}