body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}

footer a {
    color: white;
}

footer a:hover {
    color: skyblue;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1, 
h2, 
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-weight: 400;
}

h3 {
    font-weight: 100;
    font-size: 30px;
}

.navbar-fixed {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#logo-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-size: 36px;
}

#logo-img {
    height: 90%;
    display: block;
}

.right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.right li a {
    font-size: 20px;
}

.card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
  
.card-img {
    flex: 1;
    padding: 10px;
    box-shadow: -2px 2px 8px 2px #d1d1d1;
}

.card-img img {
    width: 100%;
}

.card-text {
    flex: 3;
}

.review-container {
    padding: 20px;
}